<!DOCTYPE html>
<html lang='en'>
<head>
  {% block head %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
  <title>{{ title }} - Pomni</title>
  {% else %}
  <title>Pomni</title>
  {% endif %}
{% endblock %}
</head>

<body>
{% block navbar %}
<div class="container" style="background-color:#E4E4E4">
    <div class="col-md-1">
      <a href="/dashboard"><img src="https://image.flaticon.com/icons/svg/167/167283.svg" height="70" width="70"></a>
      </div>
    <div class="col-md-1">
      <h1>POMNI</h1>
      </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">{% block topRightButton %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container" style="border:3px solid #cecece;">


      {% block page_title %}{% endblock %}
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>
