<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
  <div class="container">
    <h1>POMNI</h1>
    <div class="row">
      <div class="col-md-3">
        <a href="/dashboard"><img src="https://image.flaticon.com/icons/svg/167/167283.svg" height="70" width="70"></a>
        <a href="/logout"><img src="https://image.flaticon.com/icons/svg/126/126467.svg" height="42" width="42"></a>
        <a href="/delete_user"><img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/256/delete-1-icon.png" height="42" width="42"></a>
  </div>
  </div>
  <h2>Dashboard</h2>
<div class="row">
  {% for proj in projects %}
  <h4>{{ proj.title }}!</h4>
  <div class="col-md-6">
    <a href="/project/"><img src="http://via.placeholder.com/300x150"></a>
  </div>
  <div class="col-md-6">
  Last updated: {{ proj.stampLast }} <br>
  {{ proj.postLast }}</div>
</div>
  {% endfor %}

</div>
</body>
</html>
