{% extends "base.html" %}

{% block page_title %}
<div class="row">
  <div class="col-md-8">
        <div class="display-4 d-inline">{{ project.title }} </div>
    </div>
  <div class="col-md-2 offset-md-1">
    <a href="{{ url_for('project', title=project.title, stage=project.current_stage)}}"><img src="https://image.flaticon.com/icons/svg/1082/1082408.svg" height="70" width="70"></a>
  </div>

</div>
{% endblock %}

{% block app_content %}

<script>

function countRemainingCharacters() {
    summary_form = $("#description")
    var summary_length = summary_form.val().length;
    var max_length = parseInt(summary_form.attr('max_length'));
    var diff = max_length-summary_length
    $("#char_count").text(diff + " characters remaining");
    if (diff <0) {
        console.log(diff)
        $("#char_count").addClass("text-danger")
        $("#char_count").removeClass("text-muted")
    }
    else {
        $("#char_count").removeClass("text-danger")
        $("#char_count").addClass("text-muted")
        }
}

</script>

<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title(size=32, placeholder=project.title, default=project.title, value=project.title, class_="form-control")}}<br>
            {% for error in form.title.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class='my-0'>
            {{ form.description(size=64, placeholder=project.description, class_="form-control", id="description", onkeyup="countRemainingCharacters()", max_length="240") }}
        </p>
        <div class="col-4 no-gutters ml-auto"> <small><p class="text-right text-muted" id="char_count"></p></small></div>
        <script> var textarea = document.getElementById('project_description'); textarea.innerHTML = "{{ project.description}}" </script>
        <div class="row">
            <div class="col-md-3">How long can you concentrate for? </div> <div class="col-md-3">{{ form.study_length}} minutes</div><div class="col-md-4 text-muted">Research has shown 25 minutes to be an optimal time to work for!</div><div class="col-md-2"></div>
        </div>
        <br>
          <div class="row">
              <div class="col-md-3">How long to briefly summarise? </div> <div class="col-md-3">{{ form.summary_length}} minutes</div><div class="col-md-4 text-muted">Summarising helps you to stick to tasks and remember what you've achieved! </div><div class="col-md-2"></div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-3">How long will your short breaks be? </div> <div class="col-md-3">{{ form.s_break_length}} minutes</div><div class="col-md-4 text-muted">Having regular short breaks actually increases your long-term productivity by keeping you feeling fresh!</div><div class="col-md-2"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
            <p class="lead">"I could do {{ form.pom_num }} pomodoros before I need long break...</h4>
            </div>
            <div class="col-md-6">
                    
            </div>
            </div>
    
        <div class="row">
            <div class="col-md-4 offset-md-4">
             <p class="lead">... which will be {{ form.l_break_length(class_="p") }} minutes long! </p>
            </div>
        </div>
        <p>{{ form.submit(class_="btn btn-outline-primary btn-block") }}</p>
    </form>


  <div class="row">
    <div class="col-md-3 ml-auto">
    <a class="btn btn-outline-danger" href="/delete_project/{{project.title}}"><h4>Delete project</h4></a>
    </div>
  </div>
{% endblock %}

<!-- <div class="row">
          <div class="col-md-5 offset-md-7">
            <p class="lead text-center">
                I would like {{ form.cycle_num}} long breaks before I'm done for the day!"
            </p>
            </div>
        </div> -->