<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>POMNI</h1>
      <a href="/dashboard"><img src="https://image.flaticon.com/icons/svg/167/167283.svg" height="70" width="70"></a>
    </div>
  </div>
  <h2>NEW PROJECT</h2>
  <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.title.label }}<br>
          {{ form.title(size=32) }}<br>
          {% for error in form.title.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.description.label }}<br>
          {{ form.description(size=64) }}<br>
      </p>
      <p>
          {{ form.study_length.label }}<br>
          {{ form.study_length(size=32) }}<br>
      </p>
      <p>
          {{ form.summary_length.label }}<br>
          {{ form.summary_length(size=32) }}<br>
      </p>
      <p>
          {{ form.s_break_length.label }}<br>
          {{ form.s_break_length(size=32) }}<br>
      </p>
      <p>
          {{ form.l_break_length.label }}<br>
          {{ form.l_break_length(size=32) }}<br>
      </p>
      <p>
          {{ form.pom_num.label }}<br>
          {{ form.pom_num(size=32) }}<br>
      </p>
      <p>
          {{ form.cycle_num.label }}<br>
          {{ form.cycle_num(size=32) }}<br>
      </p>
      <p>{{ form.submit() }}</p>
  </form>
</div>
</body>
</html>
