<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>POMNI</h1>
      <a href="/dashboard"><img src="https://image.flaticon.com/icons/svg/167/167283.svg" height="70" width="70"></a>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('project', title=project.title, stage={project.current_stage})}}"><img src="https://image.flaticon.com/icons/svg/1082/1082408.svg" height="70" width="70"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>PROJECT: {{ project.title }} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

    Created: {{ project.timestamp }} <br>
    Description: {{ project.description }} <br>
    </div>
  </div>
  {% for i in range(project.num_sessions) %}

    <h4>Session: {{i+1}} </h4>
    <p> {% for pom in pomodoros.filter_by(session=i+1) %}
        {{ pom.body }} <br>
        Logged: {{ pom.timestamp_end}}
        {% endfor %}
    </p>
    {% endfor %}
</body>
</html>
