<title>{{project.title}} - Notebank</title>

{% extends "base.html" %}

{% block app_content %}
<div class="row">
<h3>PROJECT: {{ project.title }} </h3>
  <a href="{{ url_for('project', title=project.title)}}"><img src="https://image.flaticon.com/icons/svg/1082/1082408.svg" height="70" width="70"></a>
</div>
<div class="row">
  <div class="col-md-6">

  Created: {{ project.timestamp }} <br>
  Description: {{ project.description }} <br>
  </div>
</div>
<div class="row">
{% for i in range(project.num_sessions) %}
  <h3>Session: {{i+1}} </h3>

  {% for pom in pomodoros.filter_by(session=i+1) %}
  <div class="row">
  {% if pom.body|length>0 %}
    {% if pom.is_aim %}
    <div class="col-md-2"><h4>Aim :<h4></div>
      <div class="col-md-8"><h5>{{ pom.body }} </h5></div>
      <div class="col-md-2"> </div>
      <h6>
      Started on {{ pom.timestamp_end.strftime('%d-%m-%Y') }} at {{ pom.timestamp_end.strftime('%H:%M:%S') }}.
      </h6>
    {% else %}

      <div class="col-md-2"><h4>Summary :<h4></div>
        <div class="col-md-8"><h5>{{ pom.body }} </h5></div>
        <div class="col-md-2"> </div>
        <h6>
        Logged on {{ pom.timestamp_end.strftime('%d-%m-%Y') }} at {{ pom.timestamp_end.strftime('%H:%M:%S') }}.
        </h6>
        {% endif %}
      {% else %}
      {% endif %}
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
