<title>{{project.title}} - Notebank</title>

{% extends "base.html" %}

{% block page_title %}
<div class="row">
  <div class="col-md-3">
<h2>Notebank: {{ project.title }} </h2>
<div class="row">
  Started at {{ project.timestamp.strftime('%H:%M:%S') }} on {{ project.timestamp.strftime('%d/%m/%y') }}.<br>
  Description: {{ project.description }}
</div>
    </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <a href="{{ url_for('project', title=project.title)}}"><img src="https://image.flaticon.com/icons/svg/1082/1082408.svg" height="70" width="70">
      <br><h5>Back to project</h5>
    </a>

  </div>

</div>

{% endblock %}

{% block app_content %}

<div class="row">
{% for i in range(project.num_sessions) %}
  <h3>Session: {{i+1}} </h3>

  {% for pom in pomodoros.filter_by(session=i+1) %}
  <div class="row">
  {% if pom.body|length>0 %}
    {% if pom.is_aim %}
    <div class="col-md-2"><h4>Aim :<h4></div>
      <div class="col-md-8"><h5>{{ pom.body }} </h5></div>
      <div class="col-md-2"> </div>
      <h6>
      Started on {{ pom.timestamp_end.strftime('%d/%m/%y') }} at {{ pom.timestamp_end.strftime('%H:%M:%S') }}.
      </h6>
    {% else %}

      <div class="col-md-2"><h4>Summary :<h4></div>
        <div class="col-md-8"><h5>{{ pom.body }} </h5></div>
        <div class="col-md-2"> </div>
        <h6>
        Logged on {{ pom.timestamp_end.strftime('%d/%m/%y') }} at {{ pom.timestamp_end.strftime('%H:%M:%S') }}.
        </h6>
        {% endif %}
      {% else %}
      {% endif %}
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
