<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>POMNI</h1>
      <a href="/dashboard"><img src="http://via.placeholder.com/150x150"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="/notebank/"><h3>PROJECT: {{ project.title }} </h3></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

    Created: {{ project.timestamp }} <br>
    Description: {{ project.description }} <br>
    </div>
  </div>

      <form action="" method="post">
          {{ form.hidden_tag() }}
      <p>
          {{ form.pom_body.label }}<br>
          {{ form.pom_body(size=64) }}<br>
          {% for error in form.pom_body.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <h4>Previous session: </h4>
    <p> {% for pom in pomodoros %}
        {{ pom.body }} <br>
        Logged: {{ pom.timestamp_end}}
        {% endfor %}
    </p>

    <a href="/delete_project/{{project.title}}"><h4>Delete project</h4></a>
</body>
</html>
